#wp-editor-widget-container {
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	z-index: 50100;
	background: #fff;
}
#wp-editor-widget-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: .7;
	z-index: 50000;
}
#wp-editor-widget-container .close {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 30px;
	height: 30px;
	z-index: 1000;
}
#wp-editor-widget-container .close span {
	display: block;
	margin: 8px auto 0;
	width: 15px;
	height: 15px;
	background-position: -100px 0;
}
#wp-editor-widget-container .icon {
	background-image: url(../../../../../wp-includes/images/uploader-icons.png);
	background-repeat: no-repeat;
}
#wp-editor-widget-container .close:active {
	outline: 0;
}
#wp-editor-widget-container .editor {
	margin: 50px;
}

#available-widgets [class*=wp_editor_widget] .widget-title:before {
	content: "\f478";
}

/**
 * HiDPI Displays
 */
@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {
		#wp-editor-widget-container .icon {
			background-image: url(../../../../../wp-includes/images/uploader-icons-2x.png);
			background-size: 134px 15px;
		}
	}